.window {
  box-shadow: $border-window-outer, $border-window-inner;
  background: $surface;
  padding: 3px;
  z-index: 100;
  &--about {
    width: 30%;
    text-align: center;
    height: fit-content;
  }
}

.window-body {
  margin: $element-spacing;
}

.title-bar {
  background: linear-gradient(90deg, $dialog-blue, $dialog-blue-light);
  padding: 3px 2px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__btn {
    width: fit-content;
    height: fit-content;
  }
}

.title-bar.inactive {
  background: linear-gradient(90deg, $dialog-gray, $dialog-gray-light);
}

.title-bar-text {
  font-weight: bold;
  color: white;
  letter-spacing: 0;
  margin-right: 24px;
}

.title-bar-controls {
  display: flex;
}

.title-bar-controls {
  padding: 0;
  display: block;
  min-width: 16px;
  min-height: 14px;
}

.title-bar-controls button:active {
  padding: 0;
}

.title-bar-controls button:focus {
  outline: none;
}

.title-bar-controls {
  display: flex;
}

.external-buttons {
  display: flex;
  width: 100%;
  height: 2rem;
  justify-content: center;
  align-items: center;
}

.title-bar-controls button {
  padding: 0;
  display: block;
  min-width: 1.4rem;
  min-height: 1.4rem;
}

.title-bar-controls button:active {
  padding: 0;
}

.title-bar-controls button:focus {
  outline: none;
}

.title-bar-controls button[aria-label="Close"] {
  margin-left: 2px;
  background-image: url("./close.svg");
  background-repeat: no-repeat;
  background-position: top 0.3rem left 0.2rem;
}

.title-bar-controls button[aria-label="Close"]:active {
  background-position: top 0.3rem left 0.4rem;
}
