@import "variables";

.banner {
  display: flex;
  flex-direction: row;
}

.banner--dark {
  background-color: #c0c0c0;
}

.banner__btn {
  width: fit-content;
  height: 100%;
}

.banner_btn--reset {
  margin-left: 5px;
}
