@import "boxedwine";
@import "editor";
@import "banner";
@import "filedrawer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
}

iframe {
  height: 50vh;
  position: absolute;
}

.banner {
  width: 100vw;
  height: 2.5vh;
}

.Code-Area {
  height: 47.5vh;
  display: flex;
  flex-direction: row;
}

.Editor {
  order: 0;
  width: 70%;
}

.FileDrawer {
  order: 1;
  width: 30%;
}
