//Media query mixin
@mixin respond($breakpoint) {
  @if $breakpoint == half-width {
    @media (max-width: 800px) {
      @content;
    }
  }
}

@mixin centered-axis-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
